body{
    background-image:
      linear-gradient(rgb(240, 195, 208),rgb(199, 113, 142));
  }

  h1{
      text-align: center;
      text-decoration: underline;
  }

  p{
    width: 100%;
  }
  
  .images{
    width: 30%;
    display: inline-block;
    float: right;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .turkish{
      float: left;
  }
 

