body{
  background-image:
    linear-gradient(rgb(34, 32, 30),rgb(185, 138, 83));
}

.navbar {
   width: 100%;
   background-color: #000;
   overflow: auto;
 }
 
 .navbar a {
   float: left;
   padding: 15px;
   color: white;
   text-decoration: none;
   font-size: 17px;
   width: 47.59%;
   text-align: center; 
 }
 
 .navbar a:hover {
   background-color: #000;
 }
 
 .navbar a.active {
   background-color: rgb(185, 138, 83);
 }


 .navbar {
   width: 100%;
 }

 img{
   width: 250px;
 }
 .samosa{
   float: right;
   padding-right: 40px;
 }

 .butterchicken{
   float: right;
   padding-right: 40px;
 }

 .biriyani{
   float: right;
   padding-right: 40px;
 }


.lamb{
  width: 324px;
  float: right;
  padding-right: 40px;
  padding-bottom: 20px;
}



table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  color: white;
}

th{
  text-align: left;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

h2, h1, p, tr{
  color: rgb(255, 255, 255);
}

.en{
  width: 50%;
  float: left;
  padding-top: 20px;
  
 }
 
 .to{
 width: 50%;
 float: left;
 padding-bottom: 30px;
 }


